@font-face { 
    font-family: 'Permanent Marker', cursive;
    src: url('../data/Permanent_Marker/PermanentMarker-Regular.ttf');
    font-weight: 400;
}

$font-stack: 'Permanent.Marker';
$root-font-size: 16px;